
obj/project.nuget.cache
obj/project.assets.json
obj/MyWebApp.csproj.nuget.g.props
obj/MyWebApp.csproj.nuget.dgspec.json
obj/Debug/net7.0/staticwebassets.pack.json
obj/Debug/net7.0/staticwebassets.development.json
obj/Debug/net7.0/staticwebassets.build.json
obj/Debug/net7.0/scopedcss/projectbundle/MyWebApp.bundle.scp.css
obj/Debug/net7.0/scopedcss/Pages/Shared/_Layout.cshtml.rz.scp.css
obj/Debug/net7.0/scopedcss/bundle/MyWebApp.styles.css
obj/Debug/net7.0/refint/MyWebApp.dll
obj/Debug/net7.0/ref/MyWebApp.dll
obj/Debug/net7.0/project.razor.vscode.json
obj/Debug/net7.0/MyWebApp.pdb
obj/Debug/net7.0/MyWebApp.genruntimeconfig.cache
obj/Debug/net7.0/MyWebApp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/MyWebApp.dll
obj/Debug/net7.0/MyWebApp.csproj.FileListAbsolute.txt
obj/Debug/net7.0/MyWebApp.assets.cache
obj/Debug/net7.0/f289bd72-4858-41c1-9ffa-d816fc050992_MyWebApp.pdb
obj/Debug/net7.0/289fd75d-77e0-4e9e-b4c6-99c4fe5706c6_MyWebApp.pdb
bin/Debug/net7.0/MyWebApp.staticwebassets.runtime.json
bin/Debug/net7.0/MyWebApp.pdb
bin/Debug/net7.0/MyWebApp.dll
