@page
@model PirteloKauppa.Pages.MenuModel
@{
    ViewData["Title"] = "Ostoskori";
}

<div class="text-center">
    <h1>Ostoskori!</h1>
    <p>T채채ll채 n채kee tuotteet, joita olet ostamassa!</p>

    <a href="/Maksu">
            <button style="color: rgb(0, 0, 0); border-radius:5px; width: 350px; height: 40px;">Kassalle!</button>
</div>
