@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Etusivun näkymä -->
<div class="text-center">
 
    <h1>Pirtelöparatiisi</h1>

    <p>The time on the server is @DateTime.Now</p>
    <a href="/Menu">
            <button style="background-color: rgb(216, 146, 206); color: rgb(245, 245, 245); border-radius:7px; ">Tuotteet</button>

    </a>
    <div class="img">
         <img src="https://cdn.discordapp.com/attachments/1074973779442286654/1146708739718664192/pixil-frame-0_20.png"/>
    </div>
    <div class="img2">
         <img src="https://cdn.discordapp.com/attachments/1074973779442286654/1146708739718664192/pixil-frame-0_20.png"/>
    </div>
   
</div>

