@page
@model Maksaminen
@{
    ViewData["Title"] = "Hinta: 0.00€";
}
<h1>@ViewData["Title"]</h1>
<div class="text-left">
    <label for= "fname">Korttinumero</label>
    <input type="text" id="Korttinumero" name="Korttinumero" maxlength="50" size="49"><br><br>
</div>
<h2></h1>
    <label for= "fname">Päivämäärä</label>
    <input type= "text;">
    <label for= "fname">CVV</label>
    <input type= "text">
</div>
<div class="text-center">
    <button style="color: rgb(0, 0, 0); border-radius:5px; width: 150px; height: 40px;">Maksa!</button>
</div>
