@page
@model PirteloKauppa.Pages.MenuModel
@{
    ViewData["Title"] = "Pirtelö Vaihtoehdot";
}
 <!-- Menu sivun etuteksti -->
<div class="text-center">
<h1>Pirtelöparatiisin Pirtelöt</h1>
<p>Luo tässä unelmiesi pirtelö</p>
</div>

