@page
@model PirteloKauppa.Pages.MenuModel
@{
    ViewData["Title"] = "Pirtelö Vaihtoehdot";
}
 <!-- Menu sivun etuteksti -->
<div class="text-center">
<h1>Pirtelöparatiisin Pirtelöt</h1>
<p>Luo tässä unelmiesi pirtelö</p>


<input type="text" id="teksti-kentta" name="pirtelon-nimi" placeholder="Keksi nimi pirtelöllesi">
<select id="Makuvaihtoehdot">
  <option value="Suklaa">Suklaa</option>
  <option value="Banaani">Banaani</option>
  <option value="Kinuski">Kinuski</option>
</select>



<select id="Toinen maku +2 €">
  <option value="Kirsikka">Kirsikka</option>
  <option value="Strösselit">Strösselit</option>
  <option value="Sädetikku">Sädetikku</option>
</select>
<br/>
<div id="container">
    <button id="myButton">Lisää ostoskoriin</button>
  </div>
</div>