@page
@model PrivacyModel
@{
    ViewData["Title"] = "Tietosuojakäytäntö";
}
<div class="text-center">
<h1>@ViewData["Title"]</h1>
<p>Olemme yhtä intohimoisia tietosuojastasi kuin olemme pirtelöstä, mikä kertoo paljon. 
Sitoudumme olemaan mahdollisimman läpinäkyviä henkilötietojesi käsittelyssä. Mikäli 
henkilötietojen käsittelyyn liittyen tulee kysymyksiä, meihin voi olla yhteydessä 
ottamalla yhteyttä Pirtelö Paratiisin sähköpostiin: <a href=mailto: pirtelo.paratiisi@gmail.com?subject="HTML link">pirtelo.paratiisi@gmail.com</a></p>
</div>
